Column Descriptions: 
https://doc.emdat.be/docs/data-structure-and-content/emdat-public-table/

In [1]:
#import Dependencies
import pandas as pd
import os
from pathlib import Path
#new libarary used
import hashlib

In [2]:
#load excel file 
file_to_load = Path(".", "data","natural_disasters_data.xlsx")

#read the excel file 
natural_disasters_df = pd.read_excel(file_to_load)

#display the DataFrame
natural_disasters_df

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update
0,2000-0021-USA,No,nat-met-sto-tor,Natural,Meteorological,Storm,Tornado,NaN,NaN,USA,...,NaN,NaN,200500.0,354778.0,210000.0,371587.0,56.514291,"[{""adm2_code"":29698,""adm2_name"":""Crittenden""},...",2003-07-01,2023-09-25
1,2000-0067-USA,No,nat-met-sto-tor,Natural,Meteorological,Storm,Tornado,NaN,NaN,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm2_code"":28696,""adm2_name"":""Bullock""},{""a...",2005-04-24,2023-09-25
2,2000-0080-USA,No,nat-hyd-flo-riv,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm1_code"":3231,""adm1_name"":""Kentucky""},{""a...",2005-09-16,2023-09-25
3,2000-0128-USA,No,nat-cli-wil-for,Natural,Climatological,Wildfire,Forest fire,NaN,NaN,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm2_code"":28998,""adm2_name"":""Alachua""},{""a...",2003-07-01,2023-09-25
4,2000-0175-USA,No,nat-met-sto-tor,Natural,Meteorological,Storm,Tornado,NaN,NaN,USA,...,NaN,NaN,NaN,NaN,450000.0,796259.0,56.514291,"[{""adm2_code"":31225,""adm2_name"":""Burleson""},{""...",2003-07-01,2023-09-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
692,2024-0722-USA,No,nat-met-sto-tro,Natural,Meteorological,Storm,Tropical cyclone,NaN,Hurricane 'Milton',USA,...,NaN,NaN,25000000.0,NaN,38000000.0,NaN,NaN,NaN,2024-10-10,2025-01-09
693,2024-0788-USA,No,nat-hyd-flo-fla,Natural,Hydrological,Flood,Flash flood,NaN,NaN,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-10-28,2024-10-28
694,2024-0814-USA,No,nat-met-sto-sev,Natural,Meteorological,Storm,Severe weather,NaN,NaN,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-11-04,2024-11-08
695,2024-0827-USA,No,nat-cli-wil-wil,Natural,Climatological,Wildfire,Wildfire (General),NaN,'Mountain fire',USA,...,NaN,NaN,NaN,NaN,100000.0,NaN,NaN,NaN,2024-11-08,2024-11-15
696,2024-0897-USA,No,nat-cli-wil-wil,Natural,Climatological,Wildfire,Wildfire (General),NaN,'Franklin',USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-12-11,2025-01-04

In [3]:
#get info about total rows and columns
num_rows, num_columns = natural_disasters_df.shape

print(f"Total number of rows is: {num_rows}")
print(f"Total number of columns is: {num_columns}")

Total number of rows is: 697
Total number of columns is: 46

In [4]:
#gt info about data
natural_disasters_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 697 entries, 0 to 696
Data columns (total 46 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   DisNo.                                     697 non-null    object
 1   Historic                                   697 non-null    object
 2   Classification Key                         697 non-null    object
 3   Disaster Group                             697 non-null    object
 4   Disaster Subgroup                          697 non-null    object
 5   Disaster Type                              697 non-null    object
 6   Disaster Subtype                           697 non-null    object
 7   External IDs                               35 non-null     object
 8   Event Name                                 118 non-null    object
 9   ISO                                        697 non-null    object
 10  Country                                    697 non-null    object
 11  Subregion                                  697 non-null    object
 12  Region                                     697 non-null    object
 13  Location                                   694 non-null    object
 14  Origin                                     169 non-null    object
 15  Associated Types                           319 non-null    object
 16  OFDA/BHA Response                          697 non-null    object
 17  Appeal                                     697 non-null    object
 18  Declaration                                697 non-null    object
 19  AID Contribution ('000 US$)                0 non-null      float64
 20  Magnitude                                  242 non-null    float64
 21  Magnitude Scale                            693 non-null    object
 22  Latitude                                   75 non-null     float64
 23  Longitude                                  75 non-null     float64
 24  River Basin                                66 non-null     object
 25  Start Year                                 697 non-null    int64
 26  Start Month                                697 non-null    int64
 27  Start Day                                  657 non-null    float64
 28  End Year                                   697 non-null    int64
 29  End Month                                  694 non-null    float64
 30  End Day                                    658 non-null    float64
 31  Total Deaths                               507 non-null    float64
 32  No. Injured                                196 non-null    float64
 33  No. Affected                               303 non-null    float64
 34  No. Homeless                               101 non-null    float64
 35  Total Affected                             438 non-null    float64
 36  Reconstruction Costs ('000 US$)            1 non-null      float64
 37  Reconstruction Costs, Adjusted ('000 US$)  1 non-null      float64
 38  Insured Damage ('000 US$)                  266 non-null    float64
 39  Insured Damage, Adjusted ('000 US$)        260 non-null    float64
 40  Total Damage ('000 US$)                    502 non-null    float64
 41  Total Damage, Adjusted ('000 US$)          483 non-null    float64
 42  CPI                                        669 non-null    float64
 43  Admin Units                                642 non-null    object
 44  Entry Date                                 697 non-null    object
 45  Last Update                                697 non-null    object
dtypes: float64(19), int64(3), object(24)
memory usage: 250.6+ KB

In [5]:
#check for any null values
natural_disasters_df.isna().sum()

DisNo.                                         0
Historic                                       0
Classification Key                             0
Disaster Group                                 0
Disaster Subgroup                              0
Disaster Type                                  0
Disaster Subtype                               0
External IDs                                 662
Event Name                                   579
ISO                                            0
Country                                        0
Subregion                                      0
Region                                         0
Location                                       3
Origin                                       528
Associated Types                             378
OFDA/BHA Response                              0
Appeal                                         0
Declaration                                    0
AID Contribution ('000 US$)                  697
Magnitude                                    455
Magnitude Scale                                4
Latitude                                     622
Longitude                                    622
River Basin                                  631
Start Year                                     0
Start Month                                    0
Start Day                                     40
End Year                                       0
End Month                                      3
End Day                                       39
Total Deaths                                 190
No. Injured                                  501
No. Affected                                 394
No. Homeless                                 596
Total Affected                               259
Reconstruction Costs ('000 US$)              696
Reconstruction Costs, Adjusted ('000 US$)    696
Insured Damage ('000 US$)                    431
Insured Damage, Adjusted ('000 US$)          437
Total Damage ('000 US$)                      195
Total Damage, Adjusted ('000 US$)            214
CPI                                           28
Admin Units                                   55
Entry Date                                     0
Last Update                                    0
dtype: int64

In [6]:
#drop column that contains all null values
natural_disasters_df = natural_disasters_df.drop("AID Contribution ('000 US$)", axis=1)

In [7]:
#check for any duplicates
natural_disasters_df[natural_disasters_df.duplicated()]

Empty DataFrame
Columns: [DisNo., Historic, Classification Key, Disaster Group, Disaster Subgroup, Disaster Type, Disaster Subtype, External IDs, Event Name, ISO, Country, Subregion, Region, Location, Origin, Associated Types, OFDA/BHA Response, Appeal, Declaration, Magnitude, Magnitude Scale, Latitude, Longitude, River Basin, Start Year, Start Month, Start Day, End Year, End Month, End Day, Total Deaths, No. Injured, No. Affected, No. Homeless, Total Affected, Reconstruction Costs ('000 US$), Reconstruction Costs, Adjusted ('000 US$), Insured Damage ('000 US$), Insured Damage, Adjusted ('000 US$), Total Damage ('000 US$), Total Damage, Adjusted ('000 US$), CPI, Admin Units, Entry Date, Last Update]
Index: []

[0 rows x 45 columns]

In [8]:
#fetch random rows
natural_disasters_df.sample(5)

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update
502,2018-0331-USA,No,nat-hyd-flo-fla,Natural,Hydrological,Flood,Flash flood,NaN,NaN,USA,...,NaN,NaN,NaN,NaN,250000.0,303359.0,82.410668,"[{""adm1_code"":3217,""adm1_name"":""Arkansas""},{""a...",2018-09-07,2023-09-25
421,2015-0400-USA,No,nat-met-sto-sev,Natural,Meteorological,Storm,Severe weather,NaN,NaN,USA,...,NaN,NaN,800000.0,1028455.0,950000.0,1221291.0,77.786568,"[{""adm1_code"":3228,""adm1_name"":""Indiana""},{""ad...",2015-09-04,2023-09-25
116,2003-0623-USA,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,USA,...,NaN,NaN,NaN,NaN,200000.0,331273.0,60.373251,"[{""adm2_code"":28904,""adm2_name"":""San Luis Obis...",2014-03-25,2023-09-25
541,2020-0191-CAN,No,nat-hyd-flo-riv,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,CAN,...,NaN,NaN,NaN,NaN,1300000.0,1530507.0,84.939198,"[{""adm1_code"":825,""adm1_name"":""Alberta""}]",2020-05-12,2024-04-18
272,2009-0601-USA,No,nat-met-sto-tor,Natural,Meteorological,Storm,Tornado,NaN,NaN,USA,...,NaN,NaN,1100000.0,1562303.0,2000000.0,2840552.0,70.408862,"[{""adm1_code"":3214,""adm1_name"":""Alabama""},{""ad...",2010-03-08,2023-09-25

In [9]:
#display columns
natural_disasters_df.columns.tolist()

['DisNo.',
 'Historic',
 'Classification Key',
 'Disaster Group',
 'Disaster Subgroup',
 'Disaster Type',
 'Disaster Subtype',
 'External IDs',
 'Event Name',
 'ISO',
 'Country',
 'Subregion',
 'Region',
 'Location',
 'Origin',
 'Associated Types',
 'OFDA/BHA Response',
 'Appeal',
 'Declaration',
 'Magnitude',
 'Magnitude Scale',
 'Latitude',
 'Longitude',
 'River Basin',
 'Start Year',
 'Start Month',
 'Start Day',
 'End Year',
 'End Month',
 'End Day',
 'Total Deaths',
 'No. Injured',
 'No. Affected',
 'No. Homeless',
 'Total Affected',
 "Reconstruction Costs ('000 US$)",
 "Reconstruction Costs, Adjusted ('000 US$)",
 "Insured Damage ('000 US$)",
 "Insured Damage, Adjusted ('000 US$)",
 "Total Damage ('000 US$)",
 "Total Damage, Adjusted ('000 US$)",
 'CPI',
 'Admin Units',
 'Entry Date',
 'Last Update']

In [10]:
#looks at the column Disaster Type and then Total Affected within each group and aggregaes the calculations for each
summary_stats_df = natural_disasters_df.groupby("Disaster Type")["Total Affected"].agg(["min", "max", "mean", "median", "var", "std", "sem"])

summary_stats_df

,min,max,mean,median,var,std,sem
Disaster Type,,,,,,,
Drought,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Earthquake,12.0,25174.0,3552.800000,515.0,5.950721e+07,7.714092e+03,2439.409973
Epidemic,101.0,3523.0,1040.500000,269.0,2.756564e+06,1.660290e+03,830.145118
Extreme temperature,25.0,31.0,28.000000,28.0,1.800000e+01,4.242641e+00,3.000000
Flood,40.0,11000148.0,99657.705882,1000.0,1.015902e+12,1.007920e+06,92395.863592
Mass movement (wet),15.0,1366.0,510.333333,150.0,5.536803e+05,7.440970e+02,429.604599
Storm,1.0,85000012.0,446459.788018,207.0,3.340014e+13,5.779286e+06,392323.479379
Volcanic activity,2500.0,2500.0,2500.000000,2500.0,NaN,NaN,NaN
Wildfire,3.0,640064.0,16600.719512,947.0,5.785639e+09,7.606338e+04,8399.795676

In [11]:
#defines function for row
def create_locationid(row):
#combine multiple column headers into a unique_string, concatonate values with _
    unique_string = f"{row['ISO']}_{row['Country']}_{row['Subregion']}_{row['Region']}_{row['Location']}"
#use hashlib to create unique identifiers for LocationID 
    return hashlib.md5(unique_string.encode()).hexdigest()
#apply function to  DataFrame
natural_disasters_df['LocationID'] = natural_disasters_df.apply(create_locationid, axis=1)

natural_disasters_df.columns.tolist()

['DisNo.',
 'Historic',
 'Classification Key',
 'Disaster Group',
 'Disaster Subgroup',
 'Disaster Type',
 'Disaster Subtype',
 'External IDs',
 'Event Name',
 'ISO',
 'Country',
 'Subregion',
 'Region',
 'Location',
 'Origin',
 'Associated Types',
 'OFDA/BHA Response',
 'Appeal',
 'Declaration',
 'Magnitude',
 'Magnitude Scale',
 'Latitude',
 'Longitude',
 'River Basin',
 'Start Year',
 'Start Month',
 'Start Day',
 'End Year',
 'End Month',
 'End Day',
 'Total Deaths',
 'No. Injured',
 'No. Affected',
 'No. Homeless',
 'Total Affected',
 "Reconstruction Costs ('000 US$)",
 "Reconstruction Costs, Adjusted ('000 US$)",
 "Insured Damage ('000 US$)",
 "Insured Damage, Adjusted ('000 US$)",
 "Total Damage ('000 US$)",
 "Total Damage, Adjusted ('000 US$)",
 'CPI',
 'Admin Units',
 'Entry Date',
 'Last Update',
 'LocationID']

In [12]:
#rename Total Damage ('000 US$) column
natural_disasters_df.rename(columns={"Total Damage ('000 US$)": "Total_Damage_000_USD"}, inplace=True)
#defines function for row
def create_impactid(row):
#combine multiple column headers into a unique_string, concatonate values with _
    unique_string = f"{row['DisNo.']}_{row['Total Deaths']}_{row['No. Injured']}_{row['No. Affected']}_{row['Total_Damage_000_USD']}"
#use hashlib to create unique identifiers for ImpactID 
    return hashlib.md5(unique_string.encode()).hexdigest()
#apply function to  DataFrame
natural_disasters_df['ImpactID'] = natural_disasters_df.apply(create_impactid, axis=1)

natural_disasters_df.columns.tolist()

['DisNo.',
 'Historic',
 'Classification Key',
 'Disaster Group',
 'Disaster Subgroup',
 'Disaster Type',
 'Disaster Subtype',
 'External IDs',
 'Event Name',
 'ISO',
 'Country',
 'Subregion',
 'Region',
 'Location',
 'Origin',
 'Associated Types',
 'OFDA/BHA Response',
 'Appeal',
 'Declaration',
 'Magnitude',
 'Magnitude Scale',
 'Latitude',
 'Longitude',
 'River Basin',
 'Start Year',
 'Start Month',
 'Start Day',
 'End Year',
 'End Month',
 'End Day',
 'Total Deaths',
 'No. Injured',
 'No. Affected',
 'No. Homeless',
 'Total Affected',
 "Reconstruction Costs ('000 US$)",
 "Reconstruction Costs, Adjusted ('000 US$)",
 "Insured Damage ('000 US$)",
 "Insured Damage, Adjusted ('000 US$)",
 'Total_Damage_000_USD',
 "Total Damage, Adjusted ('000 US$)",
 'CPI',
 'Admin Units',
 'Entry Date',
 'Last Update',
 'LocationID',
 'ImpactID']

In [13]:
#combine date columns into single column with date format
natural_disasters_df["Start Date"] = pd.to_datetime(
    natural_disasters_df[["Start Year", "Start Month", "Start Day"]].rename(
        columns={"Start Year": "year", "Start Month": "month", "Start Day": "day"}))

natural_disasters_df["End Date"] = pd.to_datetime(
    natural_disasters_df[["End Year", "End Month", "End Day"]].rename(
        columns={"End Year": "year", "End Month": "month", "End Day": "day"}))


natural_disasters_df

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,Total_Damage_000_USD,"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update,LocationID,ImpactID,Start Date,End Date
0,2000-0021-USA,No,nat-met-sto-tor,Natural,Meteorological,Storm,Tornado,NaN,NaN,USA,...,210000.0,371587.0,56.514291,"[{""adm2_code"":29698,""adm2_name"":""Crittenden""},...",2003-07-01,2023-09-25,fdf4015cbad28df1537d0de94c0af34f,5cdf3bcf14b636dcea834bde8a1d89fa,2000-01-02,2000-01-04
1,2000-0067-USA,No,nat-met-sto-tor,Natural,Meteorological,Storm,Tornado,NaN,NaN,USA,...,NaN,NaN,56.514291,"[{""adm2_code"":28696,""adm2_name"":""Bullock""},{""a...",2005-04-24,2023-09-25,018f2d7f660af07db0c732dde694aa53,5370ecca580bd7737acae78e8d820169,2000-02-13,2000-02-14
2,2000-0080-USA,No,nat-hyd-flo-riv,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,USA,...,NaN,NaN,56.514291,"[{""adm1_code"":3231,""adm1_name"":""Kentucky""},{""a...",2005-09-16,2023-09-25,47dbeba351610a968c5871a5f626e8d5,aee9ba2fd62e6a9ad6c976d5503c5011,2000-02-18,2000-02-22
3,2000-0128-USA,No,nat-cli-wil-for,Natural,Climatological,Wildfire,Forest fire,NaN,NaN,USA,...,NaN,NaN,56.514291,"[{""adm2_code"":28998,""adm2_name"":""Alachua""},{""a...",2003-07-01,2023-09-25,4905b64fba2b30cbd9797a8104c92eeb,141de4c78e696b24e06af81baf193ea5,2000-02-26,2000-02-26
4,2000-0175-USA,No,nat-met-sto-tor,Natural,Meteorological,Storm,Tornado,NaN,NaN,USA,...,450000.0,796259.0,56.514291,"[{""adm2_code"":31225,""adm2_name"":""Burleson""},{""...",2003-07-01,2023-09-25,fc536fba4231e565318243bdbc120c66,28e519b25fa779a2c599392458dfb094,2000-03-28,2000-03-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
692,2024-0722-USA,No,nat-met-sto-tro,Natural,Meteorological,Storm,Tropical cyclone,NaN,Hurricane 'Milton',USA,...,38000000.0,NaN,NaN,NaN,2024-10-10,2025-01-09,ab8d0da25b8b64a6cc5c9c20c233bec4,e93fa5d59a214bbde2de70b1e82901df,2024-10-09,2024-10-10
693,2024-0788-USA,No,nat-hyd-flo-fla,Natural,Hydrological,Flood,Flash flood,NaN,NaN,USA,...,NaN,NaN,NaN,NaN,2024-10-28,2024-10-28,d3c8fd83d0c60abb72065d86a11f7af9,6e26acc38a6baf7d2b9d070a28480ddf,2024-10-18,2024-10-20
694,2024-0814-USA,No,nat-met-sto-sev,Natural,Meteorological,Storm,Severe weather,NaN,NaN,USA,...,NaN,NaN,NaN,NaN,2024-11-04,2024-11-08,9fa093f7e331e289388ea55628e9a8b3,4b2fb0aaabe0142bbc75a4177a6cb4c5,2024-11-02,2024-11-05
695,2024-0827-USA,No,nat-cli-wil-wil,Natural,Climatological,Wildfire,Wildfire (General),NaN,'Mountain fire',USA,...,100000.0,NaN,NaN,NaN,2024-11-08,2024-11-15,f194f72b869c0393494fcb6866b158eb,a773856c77508c4e2f26f0ccf97b1268,2024-11-06,2024-11-08
696,2024-0897-USA,No,nat-cli-wil-wil,Natural,Climatological,Wildfire,Wildfire (General),NaN,'Franklin',USA,...,NaN,NaN,NaN,NaN,2024-12-11,2025-01-04,8857c61647fd7bf2d2155651db0bbb73,59c01404aca16dce496c70b73f650dd1,2024-12-09,2024-12-11

In [14]:
natural_disasters_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 697 entries, 0 to 696
Data columns (total 49 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   DisNo.                                     697 non-null    object
 1   Historic                                   697 non-null    object
 2   Classification Key                         697 non-null    object
 3   Disaster Group                             697 non-null    object
 4   Disaster Subgroup                          697 non-null    object
 5   Disaster Type                              697 non-null    object
 6   Disaster Subtype                           697 non-null    object
 7   External IDs                               35 non-null     object
 8   Event Name                                 118 non-null    object
 9   ISO                                        697 non-null    object
 10  Country                                    697 non-null    object
 11  Subregion                                  697 non-null    object
 12  Region                                     697 non-null    object
 13  Location                                   694 non-null    object
 14  Origin                                     169 non-null    object
 15  Associated Types                           319 non-null    object
 16  OFDA/BHA Response                          697 non-null    object
 17  Appeal                                     697 non-null    object
 18  Declaration                                697 non-null    object
 19  Magnitude                                  242 non-null    float64
 20  Magnitude Scale                            693 non-null    object
 21  Latitude                                   75 non-null     float64
 22  Longitude                                  75 non-null     float64
 23  River Basin                                66 non-null     object
 24  Start Year                                 697 non-null    int64
 25  Start Month                                697 non-null    int64
 26  Start Day                                  657 non-null    float64
 27  End Year                                   697 non-null    int64
 28  End Month                                  694 non-null    float64
 29  End Day                                    658 non-null    float64
 30  Total Deaths                               507 non-null    float64
 31  No. Injured                                196 non-null    float64
 32  No. Affected                               303 non-null    float64
 33  No. Homeless                               101 non-null    float64
 34  Total Affected                             438 non-null    float64
 35  Reconstruction Costs ('000 US$)            1 non-null      float64
 36  Reconstruction Costs, Adjusted ('000 US$)  1 non-null      float64
 37  Insured Damage ('000 US$)                  266 non-null    float64
 38  Insured Damage, Adjusted ('000 US$)        260 non-null    float64
 39  Total_Damage_000_USD                       502 non-null    float64
 40  Total Damage, Adjusted ('000 US$)          483 non-null    float64
 41  CPI                                        669 non-null    float64
 42  Admin Units                                642 non-null    object
 43  Entry Date                                 697 non-null    object
 44  Last Update                                697 non-null    object
 45  LocationID                                 697 non-null    object
 46  ImpactID                                   697 non-null    object
 47  Start Date                                 657 non-null    datetime64[ns]
 48  End Date                                   658 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(18), int64(3), object(26)
memory usage: 266.9+ KB

In [15]:
#sorty by Magnitude and display top 5
top_magnitude = natural_disasters_df.sort_values(["Magnitude"], ascending=False)

top_magnitude.head(5)

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,Total_Damage_000_USD,"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update,LocationID,ImpactID,Start Date,End Date
221,2007-0383-USA,No,nat-hyd-flo-riv,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,USA,...,700000.0,1028691.0,68.047674,"[{""adm1_code"":3219,""adm1_name"":""Colorado""},{""a...",2008-03-28,2023-09-25,d8cf4223fb2b2554266cb5ecc54952e2,def7ab912fefada57dba7faaf63724db,2007-08-16,2007-08-27
415,2015-0212-USA,No,nat-hyd-flo-fla,Natural,Hydrological,Flood,Flash flood,DFO:4252|GLIDE:FL-2015-000060,NaN,USA,...,2700000.0,3471036.0,77.786568,"[{""adm1_code"":3217,""adm1_name"":""Arkansas""},{""a...",2015-06-05,2023-09-25,7d0bfb9df892c15691e4b67d0a03e3a2,2fffe87a4260ee3c850942e107dae5bf,2015-05-23,2015-05-30
19,2000-0465-USA,No,nat-cli-wil-for,Natural,Climatological,Wildfire,Forest fire,NaN,NaN,USA,...,1000000.0,1769464.0,56.514291,"[{""adm1_code"":3216,""adm1_name"":""Arizona""},{""ad...",2007-08-27,2023-09-25,8fe07dbef6d0aa2d6126db777e713787,f3cdf5e13e8a79c09b0b3d19504c4862,NaT,NaT
237,2008-0131-USA,No,nat-hyd-flo-riv,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,USA,...,2000.0,2830.0,70.660089,"[{""adm1_code"":3217,""adm1_name"":""Arkansas""},{""a...",2008-04-28,2023-09-25,cd09ad30433c4e0231deeeb467a09e97,7da9b938aa0cdffb77e889404987aa6f,2008-03-17,2008-04-20
324,2012-0068-CAN,No,nat-hyd-flo-riv,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,CAN,...,34000.0,45123.0,75.350386,"[{""adm2_code"":12605,""adm2_name"":""Victoria""}]",2013-02-07,2023-09-25,603173a59637b29b30688b1a625dd0d0,170daca94cfbe6b110cb21c299b07c3c,2012-03-25,2012-03-30

In [16]:
#sort by Magnitude and display bottom 5
bottom_magnitude = natural_disasters_df.sort_values(["Magnitude"], ascending=True)

bottom_magnitude.head(5)

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,Total_Damage_000_USD,"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update,LocationID,ImpactID,Start Date,End Date
641,2023-0052-CAN,No,nat-met-ext-sev,Natural,Meteorological,Extreme temperature,Severe winter conditions,NaN,NaN,CAN,...,165000.0,165000.0,100.000000,NaN,2023-02-06,2023-09-26,06d21fb4385b7f1c0b18619646a0e13b,0f11de0a2f335cfb081f64b8565e38e0,2023-01-30,2023-02-05
642,2023-0052-USA,No,nat-met-ext-sev,Natural,Meteorological,Extreme temperature,Severe winter conditions,NaN,NaN,USA,...,385000.0,385000.0,100.000000,"[{""adm1_code"":3217,""adm1_name"":""Arkansas""},{""a...",2023-02-06,2024-01-26,7165c62b36e2b7a3065a77164adb8428,446c1c4e611d9cc4345a291f0208ccd4,2023-01-30,2023-02-01
380,2014-0009-CAN,No,nat-met-ext-col,Natural,Meteorological,Extreme temperature,Cold wave,NaN,NaN,CAN,...,NaN,NaN,77.694406,"[{""adm1_code"":827,""adm1_name"":""Manitoba""},{""ad...",2014-01-16,2023-09-25,b7ff1faea3053df09b0f3bc5411daf81,6ac46e5ebdbabfcdb9e116c7e790b70c,2014-01-01,2014-01-09
381,2014-0009-USA,No,nat-met-ext-col,Natural,Meteorological,Extreme temperature,Cold wave,NaN,NaN,USA,...,2500000.0,3217735.0,77.694406,"[{""adm1_code"":3214,""adm1_name"":""Alabama""},{""ad...",2014-02-07,2023-09-25,39b404b368b83ae7da6b19d699aef6d9,1ff4bec4d8e662b52b6336a4dd892c9e,2014-01-05,2014-01-08
22,2000-0598-USA,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,USGS:usp0009zmm,NaN,USA,...,50000.0,88473.0,56.514291,"[{""adm2_code"":28892,""adm2_name"":""Napa""}]",2005-04-17,2023-09-25,b19b4b3384707cd59a68792f0271be06,23f2d7e66b695bb64efbc5deb44261ea,2000-09-03,2000-09-03

In [17]:
#sort by Total Affected and display top 5
top_total_affected = natural_disasters_df.sort_values(["Total Affected"], ascending=False)

top_total_affected.head(5)

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,Total_Damage_000_USD,"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update,LocationID,ImpactID,Start Date,End Date
432,2016-0010-USA,No,nat-met-sto-bli,Natural,Meteorological,Storm,Blizzard/Winter storm,NaN,Storm Jonas (Snowzilla),USA,...,550000.0,698254.0,78.767923,"[{""adm1_code"":3221,""adm1_name"":""Delaware""},{""a...",2016-02-02,2023-09-25,bf7f271018780d8d16a8bcb8ae173591,25fd72534368b3ba7457f54364ed5908,2016-01-23,2016-01-26
253,2008-0627-USA,No,nat-hyd-flo-riv,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,USA,...,10000000.0,14152261.0,70.660089,"[{""adm1_code"":3227,""adm1_name"":""Illinois""},{""a...",2009-03-18,2023-09-25,dace50cf686e65ac2ee1ce7519f1bc35,a5c3f0f6abf63b502e2618b0a12a37dd,2008-06-09,2008-06-30
143,2004-0455-USA,No,nat-met-sto-tro,Natural,Meteorological,Storm,Tropical cyclone,NaN,Frances,USA,...,11000000.0,17744916.0,61.989586,"[{""adm1_code"":3247,""adm1_name"":""North Carolina...",2004-10-08,2023-09-25,575c675cf489d3c8a9febc223c62ce08,2764ce718cb40a21b0437b221b09cdaf,2004-09-05,2004-09-05
245,2008-0352-USA,No,nat-met-sto-tro,Natural,Meteorological,Storm,Tropical cyclone,GLIDE:TC-2008-000143,"Hurricane ""Gustav""",USA,...,7000000.0,9906582.0,70.660089,"[{""adm1_code"":3214,""adm1_name"":""Alabama""},{""ad...",2009-01-14,2023-09-25,d6853d3d1ae2bd8f0547be6f2356eee7,1cd57e48149b40940dadc2f1009c9e07,2008-09-01,2008-09-01
503,2018-0342-USA,No,nat-met-sto-tro,Natural,Meteorological,Storm,Tropical cyclone,NaN,Hurricane Florence,USA,...,14000000.0,16988092.0,82.410668,"[{""adm1_code"":3247,""adm1_name"":""North Carolina...",2018-09-18,2023-09-25,ddb35636ae30e84712c389ca83e70cdd,075b6e189397b5f655cb04b245e51665,2018-09-12,2018-09-18

In [18]:
bottom_total_affected = natural_disasters_df.sort_values(["Total Affected"], ascending=True)

bottom_total_affected.head(5)

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,Total_Damage_000_USD,"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update,LocationID,ImpactID,Start Date,End Date
340,2012-0611-USA,No,nat-met-sto-bli,Natural,Meteorological,Storm,Blizzard/Winter storm,NaN,NaN,USA,...,100000.0,132713.0,75.350386,"[{""adm1_code"":3251,""adm1_name"":""Oregon""},{""adm...",2013-03-29,2023-09-25,ecb0a4ef2b51ae8aa77c9004741cd4f3,7d76c2f3069c5d19998a80e3b8eb1349,2012-01-18,2012-01-23
342,2012-0613-USA,No,nat-met-sto-lig,Natural,Meteorological,Storm,Lightning/Thunderstorms,NaN,NaN,USA,...,1400000.0,1857987.0,75.350386,"[{""adm1_code"":3219,""adm1_name"":""Colorado""},{""a...",2013-03-29,2023-09-25,9eea3a9cfb5ab432e1f917298208d190,ac3e5420ae2a49048cdcb0ac958ba094,2012-06-06,2012-06-07
272,2009-0601-USA,No,nat-met-sto-tor,Natural,Meteorological,Storm,Tornado,NaN,NaN,USA,...,2000000.0,2840552.0,70.408862,"[{""adm1_code"":3214,""adm1_name"":""Alabama""},{""ad...",2010-03-08,2023-09-25,d72d0c2a2cf1082b5e24ee3847073e61,a77a85725019517e71a28a14213cb4ae,2009-06-10,2009-06-18
472,2017-0253-USA,No,nat-met-sto-lig,Natural,Meteorological,Storm,Lightning/Thunderstorms,NaN,NaN,USA,...,2000000.0,2486147.0,80.445779,"[{""adm1_code"":3236,""adm1_name"":""Michigan""},{""a...",2017-07-12,2023-09-25,810396ad870b54f0cef9bcaf04128d31,6f3d225e0767cf89a21586736d0763ee,2017-06-09,2017-06-12
227,2007-0641-USA,No,nat-met-sto-sto,Natural,Meteorological,Storm,Storm (General),NaN,NaN,USA,...,500000.0,734779.0,68.047674,"[{""adm1_code"":3220,""adm1_name"":""Connecticut""},...",2008-03-28,2023-09-25,7a1c76cc63416a024ad79ce87e8ce0ca,d54c9611f4e90c34bd73d16667c02379,2007-12-09,2007-12-11

In [19]:
#total deaths and inujuries by disaster
total_deaths_injuries_by_disaster = (natural_disasters_df.groupby("Disaster Type")[["Total Deaths", "No. Injured"]]
    .sum().sort_values(by="Total Deaths", ascending=False).reset_index())

total_deaths_injuries_by_disaster

         Disaster Type  Total Deaths  No. Injured
0                Storm        7246.0      11427.0
1  Extreme temperature        1722.0         56.0
2                Flood         719.0        439.0
3             Wildfire         466.0       1002.0
4              Drought         428.0          0.0
5             Epidemic         217.0          0.0
6  Mass movement (wet)          79.0         43.0
7           Earthquake           6.0        815.0
8    Volcanic activity           0.0          0.0

In [20]:
#find disaster with highest fatalities by year
highest_fatalities_by_year = (
    #finds the index of the row with the max Total Deaths for each year
    natural_disasters_df.loc[natural_disasters_df.groupby("Start Year")["Total Deaths"].idxmax()]
    [["Start Year", "Disaster Type", "Total Deaths", "Event Name", "Country"]]
    #sort total deaths in descending order
    .sort_values(by="Total Deaths", ascending=False))

highest_fatalities_by_year

,Start Year,Disaster Type,Total Deaths,Event Name,Country
160,2005,Storm,1833.0,Katrina,United States of America
581,2021,Extreme temperature,815.0,NaN,Canada
298,2011,Storm,354.0,NaN,United States of America
668,2023,Drought,247.0,NaN,United States of America
691,2024,Storm,227.0,Tropical cyclone 'Helene',United States of America
81,2002,Epidemic,214.0,West Nile Fever,United States of America
187,2006,Extreme temperature,164.0,NaN,United States of America
631,2022,Storm,152.0,Hurricane 'Ian',United States of America
329,2012,Extreme temperature,123.0,NaN,United States of America
477,2017,Storm,97.0,Hurricane 'Irma',United States of America
507,2018,Wildfire,88.0,Camp Fire,United States of America
247,2008,Storm,82.0,Hurricane Ike,United States of America
207,2007,Storm,65.0,NaN,United States of America
257,2009,Extreme temperature,58.0,NaN,United States of America
26,2000,Storm,57.0,NaN,United States of America
58,2001,Extreme temperature,56.0,NaN,United States of America
128,2004,Storm,56.0,NaN,United States of America
428,2015,Storm,50.0,NaN,United States of America
432,2016,Storm,50.0,Storm Jonas (Snowzilla),United States of America
559,2020,Drought,45.0,NaN,United States of America
100,2003,Storm,45.0,NaN,United States of America
386,2014,Mass movement (wet),43.0,NaN,United States of America
282,2010,Storm,30.0,NaN,United States of America
354,2013,Storm,29.0,NaN,United States of America
515,2019,Storm,28.0,NaN,United States of America

In [21]:
#create disaster_events DataFrame
disaster_events_df = natural_disasters_df[["DisNo.", "Historic", "Classification Key", "Disaster Group", "Disaster Subgroup","Disaster Type", "Disaster Subtype", "External IDs", "Event Name", "Origin", "Associated Types", "Magnitude", "Magnitude Scale", "Start Date", "End Date"]]

disaster_events_df.head()

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,Origin,Associated Types,Magnitude,Magnitude Scale,Start Date,End Date
0,2000-0021-USA,No,nat-met-sto-tor,Natural,Meteorological,Storm,Tornado,NaN,NaN,NaN,NaN,NaN,Kph,2000-01-02,2000-01-04
1,2000-0067-USA,No,nat-met-sto-tor,Natural,Meteorological,Storm,Tornado,NaN,NaN,NaN,NaN,249.0,Kph,2000-02-13,2000-02-14
2,2000-0080-USA,No,nat-hyd-flo-riv,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,Heavy rain,"Slide (land, mud, snow, rock)",55000.0,Km2,2000-02-18,2000-02-22
3,2000-0128-USA,No,nat-cli-wil-for,Natural,Climatological,Wildfire,Forest fire,NaN,NaN,NaN,NaN,113.0,Km2,2000-02-26,2000-02-26
4,2000-0175-USA,No,nat-met-sto-tor,Natural,Meteorological,Storm,Tornado,NaN,NaN,NaN,NaN,NaN,Kph,2000-03-28,2000-03-28

In [22]:
#get disaster_type count
disaster_type = disaster_events_df["Disaster Type"].value_counts()

disaster_type

Disaster Type
Storm                  397
Flood                  150
Wildfire                96
Extreme temperature     21
Drought                 15
Earthquake              10
Epidemic                 4
Mass movement (wet)      3
Volcanic activity        1
Name: count, dtype: int64

In [23]:
#create locations DataFrame
locations_df = natural_disasters_df[["LocationID", "DisNo.", "ISO", "Country", "Subregion", "Region", "Location", "Latitude", "Longitude", "River Basin"]]

locations_df.head()

,LocationID,DisNo.,ISO,Country,Subregion,Region,Location,Latitude,Longitude,River Basin
0,fdf4015cbad28df1537d0de94c0af34f,2000-0021-USA,USA,United States of America,Northern America,Americas,"Crittenden, Daviess, Webster districts (Kentuc...",NaN,NaN,NaN
1,018f2d7f660af07db0c732dde694aa53,2000-0067-USA,USA,United States of America,Northern America,Americas,"Bullock, Montgomery districts (Alabama provinc...",NaN,NaN,NaN
2,47dbeba351610a968c5871a5f626e8d5,2000-0080-USA,USA,United States of America,Northern America,Americas,"Kentucky, Ohio provinces",NaN,NaN,"Licking River, Ohio River, Scioto River"
3,4905b64fba2b30cbd9797a8104c92eeb,2000-0128-USA,USA,United States of America,Northern America,Americas,"Gainesville, Alachua areas (Alachua district, ...",NaN,NaN,NaN
4,fc536fba4231e565318243bdbc120c66,2000-0175-USA,USA,United States of America,Northern America,Americas,"Fort Worth Texas city (Tarrant district, Texas...",NaN,NaN,NaN

In [24]:
#get disaster_type count
location_count = locations_df["Location"].value_counts()

location_count

Location
Texas province                                                                                                                                      4
California province                                                                                                                                 3
Illinois, Indiana, Iowa, Kansas, Michigan, Minnesota, Missouri, Nebraska, North Dakota, Ohio, South Dakota, Wisconsin provinces                     3
Florida province                                                                                                                                    3
British Columbia                                                                                                                                    3
                                                                                                                                                   ..
Los Angeles, Orange, Riverside, Santa Barbara districts (California province)                                                                       1
Maine, Massachusetts, New Hampshire, New York, Vermont provinces                                                                                    1
Arkansas, Illinois, Indiana, Kentucky, Missouri, New York, Ohio, Tennessee, Alabama, Mississippi provinces                                          1
Arkansas, California, Colorado, Illinois, Indiana, Kansas, Michigan, Missouri, New York, Ohio, Oklahoma, Oregon, Washington, Wisconsin provinces    1
Near Malibu city, Santa Monica mountains (Los Angeles County, California)                                                                           1
Name: count, Length: 662, dtype: int64

In [25]:
#create impact DataFrame
impact_df = natural_disasters_df[["ImpactID", "DisNo.", "Total Deaths", "No. Injured", "No. Affected", "No. Homeless", "Total Affected", "Reconstruction Costs ('000 US$)", "Reconstruction Costs, Adjusted ('000 US$)", "Insured Damage ('000 US$)", "Insured Damage, Adjusted ('000 US$)", "Total_Damage_000_USD", "Total Damage, Adjusted ('000 US$)", "CPI", "Admin Units", "Entry Date", "Last Update"]]

impact_df.head()

,ImpactID,DisNo.,Total Deaths,No. Injured,No. Affected,No. Homeless,Total Affected,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total_Damage_000_USD,"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update
0,5cdf3bcf14b636dcea834bde8a1d89fa,2000-0021-USA,1.0,12.0,NaN,150.0,162.0,NaN,NaN,200500.0,354778.0,210000.0,371587.0,56.514291,"[{""adm2_code"":29698,""adm2_name"":""Crittenden""},...",2003-07-01,2023-09-25
1,5370ecca580bd7737acae78e8d820169,2000-0067-USA,22.0,100.0,900.0,NaN,1000.0,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm2_code"":28696,""adm2_name"":""Bullock""},{""a...",2005-04-24,2023-09-25
2,aee9ba2fd62e6a9ad6c976d5503c5011,2000-0080-USA,3.0,NaN,231.0,NaN,231.0,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm1_code"":3231,""adm1_name"":""Kentucky""},{""a...",2005-09-16,2023-09-25
3,141de4c78e696b24e06af81baf193ea5,2000-0128-USA,NaN,NaN,600.0,NaN,600.0,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm2_code"":28998,""adm2_name"":""Alachua""},{""a...",2003-07-01,2023-09-25
4,28e519b25fa779a2c599392458dfb094,2000-0175-USA,5.0,NaN,3000.0,300.0,3300.0,NaN,NaN,NaN,NaN,450000.0,796259.0,56.514291,"[{""adm2_code"":31225,""adm2_name"":""Burleson""},{""...",2003-07-01,2023-09-25

In [26]:
#create disaster_damage DataFrame
disaster_damage_df = natural_disasters_df[["ImpactID", "Total Deaths", "No. Injured", "No. Affected", "No. Homeless", "Total Affected", "Total_Damage_000_USD", "Total Damage, Adjusted ('000 US$)", "CPI"]]

disaster_damage_df.head()

,ImpactID,Total Deaths,No. Injured,No. Affected,No. Homeless,Total Affected,Total_Damage_000_USD,"Total Damage, Adjusted ('000 US$)",CPI
0,5cdf3bcf14b636dcea834bde8a1d89fa,1.0,12.0,NaN,150.0,162.0,210000.0,371587.0,56.514291
1,5370ecca580bd7737acae78e8d820169,22.0,100.0,900.0,NaN,1000.0,NaN,NaN,56.514291
2,aee9ba2fd62e6a9ad6c976d5503c5011,3.0,NaN,231.0,NaN,231.0,NaN,NaN,56.514291
3,141de4c78e696b24e06af81baf193ea5,NaN,NaN,600.0,NaN,600.0,NaN,NaN,56.514291
4,28e519b25fa779a2c599392458dfb094,5.0,NaN,3000.0,300.0,3300.0,450000.0,796259.0,56.514291

In [27]:
#create disaster_response DataFrame
disaster_response_df = natural_disasters_df[["ImpactID", "OFDA/BHA Response", "Appeal", "Declaration"]]

disaster_response_df.head()

                           ImpactID OFDA/BHA Response Appeal Declaration
0  5cdf3bcf14b636dcea834bde8a1d89fa                No     No          No
1  5370ecca580bd7737acae78e8d820169                No     No          No
2  aee9ba2fd62e6a9ad6c976d5503c5011                No     No          No
3  141de4c78e696b24e06af81baf193ea5                No     No          No
4  28e519b25fa779a2c599392458dfb094                No     No          No

In [28]:
disaster_events_df.dtypes

DisNo.                        object
Historic                      object
Classification Key            object
Disaster Group                object
Disaster Subgroup             object
Disaster Type                 object
Disaster Subtype              object
External IDs                  object
Event Name                    object
Origin                        object
Associated Types              object
Magnitude                    float64
Magnitude Scale               object
Start Date            datetime64[ns]
End Date              datetime64[ns]
dtype: object

In [29]:
locations_df.dtypes

LocationID      object
DisNo.          object
ISO             object
Country         object
Subregion       object
Region          object
Location        object
Latitude       float64
Longitude      float64
River Basin     object
dtype: object

In [30]:
impact_df.dtypes

ImpactID                                      object
DisNo.                                        object
Total Deaths                                 float64
No. Injured                                  float64
No. Affected                                 float64
No. Homeless                                 float64
Total Affected                               float64
Reconstruction Costs ('000 US$)              float64
Reconstruction Costs, Adjusted ('000 US$)    float64
Insured Damage ('000 US$)                    float64
Insured Damage, Adjusted ('000 US$)          float64
Total_Damage_000_USD                         float64
Total Damage, Adjusted ('000 US$)            float64
CPI                                          float64
Admin Units                                   object
Entry Date                                    object
Last Update                                   object
dtype: object

In [31]:
disaster_damage_df.dtypes

ImpactID                              object
Total Deaths                         float64
No. Injured                          float64
No. Affected                         float64
No. Homeless                         float64
Total Affected                       float64
Total_Damage_000_USD                 float64
Total Damage, Adjusted ('000 US$)    float64
CPI                                  float64
dtype: object

In [32]:
disaster_response_df.dtypes

ImpactID             object
OFDA/BHA Response    object
Appeal               object
Declaration          object
dtype: object

In [33]:
#export DataFrames as csv files
disaster_events_df.to_csv("resources/disaster_events.csv", index=False)

locations_df.to_csv("resources/locations.csv", index=False)

impact_df.to_csv("resources/impact.csv", index=False)

disaster_damage_df.to_csv("resources/disaster_damage.csv", index=False)

disaster_response_df.to_csv("resources/disaster_response_.csv", index=False)