Column Descriptions: 
https://doc.emdat.be/docs/data-structure-and-content/emdat-public-table/

In [1]:
#import Dependencies
import pandas as pd
import os
from pathlib import Path
#new libarary used
import hashlib

In [2]:
#load excel file 
file_to_load = Path("..", "CSV","natural_disasters_data.xlsx")

#read the excel file 
natural_disasters_df = pd.read_excel(file_to_load)

#display the DataFrame
natural_disasters_df

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update
0,2000-0021-USA,No,nat-met-sto-tor,Natural,Meteorological,Storm,Tornado,NaN,NaN,USA,...,NaN,NaN,200500.0,354778.0,210000.0,371587.0,56.514291,"[{""adm2_code"":29698,""adm2_name"":""Crittenden""},...",2003-07-01,2023-09-25
1,2000-0067-USA,No,nat-met-sto-tor,Natural,Meteorological,Storm,Tornado,NaN,NaN,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm2_code"":28696,""adm2_name"":""Bullock""},{""a...",2005-04-24,2023-09-25
2,2000-0080-USA,No,nat-hyd-flo-riv,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm1_code"":3231,""adm1_name"":""Kentucky""},{""a...",2005-09-16,2023-09-25
3,2000-0128-USA,No,nat-cli-wil-for,Natural,Climatological,Wildfire,Forest fire,NaN,NaN,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm2_code"":28998,""adm2_name"":""Alachua""},{""a...",2003-07-01,2023-09-25
4,2000-0175-USA,No,nat-met-sto-tor,Natural,Meteorological,Storm,Tornado,NaN,NaN,USA,...,NaN,NaN,NaN,NaN,450000.0,796259.0,56.514291,"[{""adm2_code"":31225,""adm2_name"":""Burleson""},{""...",2003-07-01,2023-09-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
692,2024-0722-USA,No,nat-met-sto-tro,Natural,Meteorological,Storm,Tropical cyclone,NaN,Hurricane 'Milton',USA,...,NaN,NaN,25000000.0,NaN,38000000.0,NaN,NaN,NaN,2024-10-10,2025-01-09
693,2024-0788-USA,No,nat-hyd-flo-fla,Natural,Hydrological,Flood,Flash flood,NaN,NaN,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-10-28,2024-10-28
694,2024-0814-USA,No,nat-met-sto-sev,Natural,Meteorological,Storm,Severe weather,NaN,NaN,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-11-04,2024-11-08
695,2024-0827-USA,No,nat-cli-wil-wil,Natural,Climatological,Wildfire,Wildfire (General),NaN,'Mountain fire',USA,...,NaN,NaN,NaN,NaN,100000.0,NaN,NaN,NaN,2024-11-08,2024-11-15
696,2024-0897-USA,No,nat-cli-wil-wil,Natural,Climatological,Wildfire,Wildfire (General),NaN,'Franklin',USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-12-11,2025-01-04

In [3]:
#get info about total rows and columns
num_rows, num_columns = natural_disasters_df.shape

print(f"Total number of rows is: {num_rows}")
print(f"Total number of columns is: {num_columns}")

Total number of rows is: 697
Total number of columns is: 46

In [4]:
#gt info about data
natural_disasters_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 697 entries, 0 to 696
Data columns (total 46 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   DisNo.                                     697 non-null    object
 1   Historic                                   697 non-null    object
 2   Classification Key                         697 non-null    object
 3   Disaster Group                             697 non-null    object
 4   Disaster Subgroup                          697 non-null    object
 5   Disaster Type                              697 non-null    object
 6   Disaster Subtype                           697 non-null    object
 7   External IDs                               35 non-null     object
 8   Event Name                                 118 non-null    object
 9   ISO                                        697 non-null    object
 10  Country                                    697 non-null    object
 11  Subregion                                  697 non-null    object
 12  Region                                     697 non-null    object
 13  Location                                   694 non-null    object
 14  Origin                                     169 non-null    object
 15  Associated Types                           319 non-null    object
 16  OFDA/BHA Response                          697 non-null    object
 17  Appeal                                     697 non-null    object
 18  Declaration                                697 non-null    object
 19  AID Contribution ('000 US$)                0 non-null      float64
 20  Magnitude                                  242 non-null    float64
 21  Magnitude Scale                            693 non-null    object
 22  Latitude                                   75 non-null     float64
 23  Longitude                                  75 non-null     float64
 24  River Basin                                66 non-null     object
 25  Start Year                                 697 non-null    int64
 26  Start Month                                697 non-null    int64
 27  Start Day                                  657 non-null    float64
 28  End Year                                   697 non-null    int64
 29  End Month                                  694 non-null    float64
 30  End Day                                    658 non-null    float64
 31  Total Deaths                               507 non-null    float64
 32  No. Injured                                196 non-null    float64
 33  No. Affected                               303 non-null    float64
 34  No. Homeless                               101 non-null    float64
 35  Total Affected                             438 non-null    float64
 36  Reconstruction Costs ('000 US$)            1 non-null      float64
 37  Reconstruction Costs, Adjusted ('000 US$)  1 non-null      float64
 38  Insured Damage ('000 US$)                  266 non-null    float64
 39  Insured Damage, Adjusted ('000 US$)        260 non-null    float64
 40  Total Damage ('000 US$)                    502 non-null    float64
 41  Total Damage, Adjusted ('000 US$)          483 non-null    float64
 42  CPI                                        669 non-null    float64
 43  Admin Units                                642 non-null    object
 44  Entry Date                                 697 non-null    object
 45  Last Update                                697 non-null    object
dtypes: float64(19), int64(3), object(24)
memory usage: 250.6+ KB

In [5]:
#check for any null values
natural_disasters_df.isna().sum()

DisNo.                                         0
Historic                                       0
Classification Key                             0
Disaster Group                                 0
Disaster Subgroup                              0
Disaster Type                                  0
Disaster Subtype                               0
External IDs                                 662
Event Name                                   579
ISO                                            0
Country                                        0
Subregion                                      0
Region                                         0
Location                                       3
Origin                                       528
Associated Types                             378
OFDA/BHA Response                              0
Appeal                                         0
Declaration                                    0
AID Contribution ('000 US$)                  697
Magnitude                                    455
Magnitude Scale                                4
Latitude                                     622
Longitude                                    622
River Basin                                  631
Start Year                                     0
Start Month                                    0
Start Day                                     40
End Year                                       0
End Month                                      3
End Day                                       39
Total Deaths                                 190
No. Injured                                  501
No. Affected                                 394
No. Homeless                                 596
Total Affected                               259
Reconstruction Costs ('000 US$)              696
Reconstruction Costs, Adjusted ('000 US$)    696
Insured Damage ('000 US$)                    431
Insured Damage, Adjusted ('000 US$)          437
Total Damage ('000 US$)                      195
Total Damage, Adjusted ('000 US$)            214
CPI                                           28
Admin Units                                   55
Entry Date                                     0
Last Update                                    0
dtype: int64

In [6]:
#drop column that contains all null values
natural_disasters_df = natural_disasters_df.drop(
    ["AID Contribution ('000 US$)", 
     "Reconstruction Costs, Adjusted ('000 US$)", 
     "Reconstruction Costs ('000 US$)"], 
    axis=1
)

In [7]:
# drop rows with na values
natural_disasters_df = natural_disasters_df.dropna(subset=['End Month'])
natural_disasters_df = natural_disasters_df.dropna(subset=['Start Day'])
natural_disasters_df = natural_disasters_df.dropna(subset=['End Day'])

In [8]:
natural_disasters_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 654 entries, 0 to 696
Data columns (total 43 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   DisNo.                               654 non-null    object
 1   Historic                             654 non-null    object
 2   Classification Key                   654 non-null    object
 3   Disaster Group                       654 non-null    object
 4   Disaster Subgroup                    654 non-null    object
 5   Disaster Type                        654 non-null    object
 6   Disaster Subtype                     654 non-null    object
 7   External IDs                         35 non-null     object
 8   Event Name                           113 non-null    object
 9   ISO                                  654 non-null    object
 10  Country                              654 non-null    object
 11  Subregion                            654 non-null    object
 12  Region                               654 non-null    object
 13  Location                             651 non-null    object
 14  Origin                               163 non-null    object
 15  Associated Types                     307 non-null    object
 16  OFDA/BHA Response                    654 non-null    object
 17  Appeal                               654 non-null    object
 18  Declaration                          654 non-null    object
 19  Magnitude                            226 non-null    float64
 20  Magnitude Scale                      650 non-null    object
 21  Latitude                             75 non-null     float64
 22  Longitude                            75 non-null     float64
 23  River Basin                          66 non-null     object
 24  Start Year                           654 non-null    int64
 25  Start Month                          654 non-null    int64
 26  Start Day                            654 non-null    float64
 27  End Year                             654 non-null    int64
 28  End Month                            654 non-null    float64
 29  End Day                              654 non-null    float64
 30  Total Deaths                         488 non-null    float64
 31  No. Injured                          192 non-null    float64
 32  No. Affected                         292 non-null    float64
 33  No. Homeless                         95 non-null     float64
 34  Total Affected                       423 non-null    float64
 35  Insured Damage ('000 US$)            261 non-null    float64
 36  Insured Damage, Adjusted ('000 US$)  255 non-null    float64
 37  Total Damage ('000 US$)              484 non-null    float64
 38  Total Damage, Adjusted ('000 US$)    465 non-null    float64
 39  CPI                                  626 non-null    float64
 40  Admin Units                          602 non-null    object
 41  Entry Date                           654 non-null    object
 42  Last Update                          654 non-null    object
dtypes: float64(16), int64(3), object(24)
memory usage: 224.8+ KB

In [9]:
#check for any duplicates
natural_disasters_df[natural_disasters_df.duplicated()]

Empty DataFrame
Columns: [DisNo., Historic, Classification Key, Disaster Group, Disaster Subgroup, Disaster Type, Disaster Subtype, External IDs, Event Name, ISO, Country, Subregion, Region, Location, Origin, Associated Types, OFDA/BHA Response, Appeal, Declaration, Magnitude, Magnitude Scale, Latitude, Longitude, River Basin, Start Year, Start Month, Start Day, End Year, End Month, End Day, Total Deaths, No. Injured, No. Affected, No. Homeless, Total Affected, Insured Damage ('000 US$), Insured Damage, Adjusted ('000 US$), Total Damage ('000 US$), Total Damage, Adjusted ('000 US$), CPI, Admin Units, Entry Date, Last Update]
Index: []

[0 rows x 43 columns]

In [10]:
#fetch random rows
natural_disasters_df.sample(5)

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,No. Homeless,Total Affected,Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update
471,2017-0252-USA,No,nat-cli-wil-for,Natural,Climatological,Wildfire,Forest fire,NaN,"Wall Fire, Alamo Fire, Whittier Fire",USA,...,147.0,156.0,NaN,NaN,NaN,NaN,80.445779,"[{""adm2_code"":28868,""adm2_name"":""Butte""},{""adm...",2017-07-10,2023-09-25
114,2003-0595-USA,No,nat-met-sto-sto,Natural,Meteorological,Storm,Storm (General),NaN,NaN,USA,...,NaN,1125.0,450000.0,745363.0,NaN,NaN,60.373251,"[{""adm1_code"":3231,""adm1_name"":""Kentucky""},{""a...",2003-12-08,2023-09-25
87,2002-0667-USA,No,nat-bio-epi-dis,Natural,Biological,Epidemic,Infectious disease (General),NaN,NaN,USA,...,NaN,101.0,NaN,NaN,NaN,NaN,59.033144,NaN,2003-07-01,2023-09-25
188,2006-0413-USA,No,nat-hyd-flo-riv,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,USA,...,NaN,NaN,NaN,NaN,100000.0,151148.0,66.160331,"[{""adm2_code"":31269,""adm2_name"":""El Paso""}]",2007-01-06,2023-09-25
586,2021-0442-USA,No,nat-hyd-flo-flo,Natural,Hydrological,Flood,Flood (General),NaN,NaN,USA,...,NaN,NaN,NaN,NaN,50000.0,56224.0,88.929493,"[{""adm1_code"":3216,""adm1_name"":""Arizona""},{""ad...",2021-07-26,2023-09-25

In [11]:
#looks at the column Disaster Type and then Total Affected within each group and aggregaes the calculations for each
summary_stats_df = natural_disasters_df.groupby("Disaster Type")["Total Affected"].agg(["min", "max", "mean", "median", "var", "std", "sem"])

summary_stats_df

,min,max,mean,median,var,std,sem
Disaster Type,,,,,,,
Drought,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Earthquake,12.0,25174.0,3552.800000,515.0,5.950721e+07,7.714092e+03,2439.409973
Epidemic,101.0,3523.0,1812.000000,1812.0,5.855042e+06,2.419719e+03,1711.000000
Extreme temperature,25.0,31.0,28.000000,28.0,1.800000e+01,4.242641e+00,3.000000
Flood,40.0,11000148.0,100471.754237,1000.0,1.024506e+12,1.012179e+06,93178.608893
Mass movement (wet),15.0,1366.0,510.333333,150.0,5.536803e+05,7.440970e+02,429.604599
Storm,1.0,85000012.0,448525.805556,213.5,3.355456e+13,5.792630e+06,394138.550527
Volcanic activity,2500.0,2500.0,2500.000000,2500.0,NaN,NaN,NaN
Wildfire,3.0,640064.0,18190.070423,894.0,6.659152e+09,8.160363e+04,9684.568543

In [12]:
#defines function for row
def create_locationid(row):
#combine multiple column headers into a unique_string, concatonate values with _
    unique_string = f"{row['ISO']}_{row['Country']}_{row['Subregion']}_{row['Region']}_{row['Location']}"
#use hashlib to create unique identifiers for LocationID 
    return hashlib.md5(unique_string.encode()).hexdigest()
#apply function to  DataFrame
natural_disasters_df['LocationID'] = natural_disasters_df.apply(create_locationid, axis=1)

natural_disasters_df.columns.tolist()

['DisNo.',
 'Historic',
 'Classification Key',
 'Disaster Group',
 'Disaster Subgroup',
 'Disaster Type',
 'Disaster Subtype',
 'External IDs',
 'Event Name',
 'ISO',
 'Country',
 'Subregion',
 'Region',
 'Location',
 'Origin',
 'Associated Types',
 'OFDA/BHA Response',
 'Appeal',
 'Declaration',
 'Magnitude',
 'Magnitude Scale',
 'Latitude',
 'Longitude',
 'River Basin',
 'Start Year',
 'Start Month',
 'Start Day',
 'End Year',
 'End Month',
 'End Day',
 'Total Deaths',
 'No. Injured',
 'No. Affected',
 'No. Homeless',
 'Total Affected',
 "Insured Damage ('000 US$)",
 "Insured Damage, Adjusted ('000 US$)",
 "Total Damage ('000 US$)",
 "Total Damage, Adjusted ('000 US$)",
 'CPI',
 'Admin Units',
 'Entry Date',
 'Last Update',
 'LocationID']

In [13]:
#rename column names
natural_disasters_df.rename(columns=
                            {"Total Damage ('000 US$)": "Total_Damage_USD",
                            "Total Damage, Adjusted ('000 US$)": "Total_Damage_Adj_USD",
                            "Classification Key": "Classification_Key",
                             "Disaster Group": "Disaster_Group",
                             "Disaster Subgroup": "Disaster_Subgroup",
                             "Disaster Type": "Disaster_Type",
                             "Disaster Subtype": "Disaster_Subtype",
                             "DisNo.": "DisNo",
                             "River Basin": "River_Basin",
                             "External IDs": "External_IDs",
                             "Associated Types":"Associated_Types",
                             "Magnitude Scale": "Magnitude_Scale",
                             "Event Name": "Event_Name",
                             "OFDA/BHA Response": "OFDA_BHA_Response",
                             "Total Deaths": "Total_Deaths",
                             "No. Injured":"No_Injured",
                             "No. Affected":"No_Affected",
                             "No. Homeless":"No_Homeless",
                             "Total Affected": "Total_Affected",
                             "Start Year": "Start_Year"
                            }, 
                            inplace=True)
natural_disasters_df.head()

,DisNo,Historic,Classification_Key,Disaster_Group,Disaster_Subgroup,Disaster_Type,Disaster_Subtype,External_IDs,Event_Name,ISO,...,Total_Affected,Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total_Damage_USD,Total_Damage_Adj_USD,CPI,Admin Units,Entry Date,Last Update,LocationID
0,2000-0021-USA,No,nat-met-sto-tor,Natural,Meteorological,Storm,Tornado,NaN,NaN,USA,...,162.0,200500.0,354778.0,210000.0,371587.0,56.514291,"[{""adm2_code"":29698,""adm2_name"":""Crittenden""},...",2003-07-01,2023-09-25,fdf4015cbad28df1537d0de94c0af34f
1,2000-0067-USA,No,nat-met-sto-tor,Natural,Meteorological,Storm,Tornado,NaN,NaN,USA,...,1000.0,NaN,NaN,NaN,NaN,56.514291,"[{""adm2_code"":28696,""adm2_name"":""Bullock""},{""a...",2005-04-24,2023-09-25,018f2d7f660af07db0c732dde694aa53
2,2000-0080-USA,No,nat-hyd-flo-riv,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,USA,...,231.0,NaN,NaN,NaN,NaN,56.514291,"[{""adm1_code"":3231,""adm1_name"":""Kentucky""},{""a...",2005-09-16,2023-09-25,47dbeba351610a968c5871a5f626e8d5
3,2000-0128-USA,No,nat-cli-wil-for,Natural,Climatological,Wildfire,Forest fire,NaN,NaN,USA,...,600.0,NaN,NaN,NaN,NaN,56.514291,"[{""adm2_code"":28998,""adm2_name"":""Alachua""},{""a...",2003-07-01,2023-09-25,4905b64fba2b30cbd9797a8104c92eeb
4,2000-0175-USA,No,nat-met-sto-tor,Natural,Meteorological,Storm,Tornado,NaN,NaN,USA,...,3300.0,NaN,NaN,450000.0,796259.0,56.514291,"[{""adm2_code"":31225,""adm2_name"":""Burleson""},{""...",2003-07-01,2023-09-25,fc536fba4231e565318243bdbc120c66

In [14]:
#defines function for row
def create_impactid(row):
#combine multiple column headers into a unique_string, concatonate values with _
    unique_string = f"{row['DisNo']}_{row['Total_Deaths']}_{row['No_Injured']}_{row['No_Affected']}_{row['Total_Damage_USD']}"
#use hashlib to create unique identifiers for ImpactID 
    return hashlib.md5(unique_string.encode()).hexdigest()
#apply function to  DataFrame
natural_disasters_df['ImpactID'] = natural_disasters_df.apply(create_impactid, axis=1)

natural_disasters_df.columns.tolist()

['DisNo',
 'Historic',
 'Classification_Key',
 'Disaster_Group',
 'Disaster_Subgroup',
 'Disaster_Type',
 'Disaster_Subtype',
 'External_IDs',
 'Event_Name',
 'ISO',
 'Country',
 'Subregion',
 'Region',
 'Location',
 'Origin',
 'Associated_Types',
 'OFDA_BHA_Response',
 'Appeal',
 'Declaration',
 'Magnitude',
 'Magnitude_Scale',
 'Latitude',
 'Longitude',
 'River_Basin',
 'Start_Year',
 'Start Month',
 'Start Day',
 'End Year',
 'End Month',
 'End Day',
 'Total_Deaths',
 'No_Injured',
 'No_Affected',
 'No_Homeless',
 'Total_Affected',
 "Insured Damage ('000 US$)",
 "Insured Damage, Adjusted ('000 US$)",
 'Total_Damage_USD',
 'Total_Damage_Adj_USD',
 'CPI',
 'Admin Units',
 'Entry Date',
 'Last Update',
 'LocationID',
 'ImpactID']

In [15]:
#combine date columns into single column with date format
natural_disasters_df["Start_Date"] = pd.to_datetime(
    natural_disasters_df[["Start_Year", "Start Month", "Start Day"]].rename(
        columns={"Start_Year": "year", "Start Month": "month", "Start Day": "day"}))

natural_disasters_df["End_Date"] = pd.to_datetime(
    natural_disasters_df[["End Year", "End Month", "End Day"]].rename(
        columns={"End Year": "year", "End Month": "month", "End Day": "day"}))


natural_disasters_df

,DisNo,Historic,Classification_Key,Disaster_Group,Disaster_Subgroup,Disaster_Type,Disaster_Subtype,External_IDs,Event_Name,ISO,...,Total_Damage_USD,Total_Damage_Adj_USD,CPI,Admin Units,Entry Date,Last Update,LocationID,ImpactID,Start_Date,End_Date
0,2000-0021-USA,No,nat-met-sto-tor,Natural,Meteorological,Storm,Tornado,NaN,NaN,USA,...,210000.0,371587.0,56.514291,"[{""adm2_code"":29698,""adm2_name"":""Crittenden""},...",2003-07-01,2023-09-25,fdf4015cbad28df1537d0de94c0af34f,5cdf3bcf14b636dcea834bde8a1d89fa,2000-01-02,2000-01-04
1,2000-0067-USA,No,nat-met-sto-tor,Natural,Meteorological,Storm,Tornado,NaN,NaN,USA,...,NaN,NaN,56.514291,"[{""adm2_code"":28696,""adm2_name"":""Bullock""},{""a...",2005-04-24,2023-09-25,018f2d7f660af07db0c732dde694aa53,5370ecca580bd7737acae78e8d820169,2000-02-13,2000-02-14
2,2000-0080-USA,No,nat-hyd-flo-riv,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,USA,...,NaN,NaN,56.514291,"[{""adm1_code"":3231,""adm1_name"":""Kentucky""},{""a...",2005-09-16,2023-09-25,47dbeba351610a968c5871a5f626e8d5,aee9ba2fd62e6a9ad6c976d5503c5011,2000-02-18,2000-02-22
3,2000-0128-USA,No,nat-cli-wil-for,Natural,Climatological,Wildfire,Forest fire,NaN,NaN,USA,...,NaN,NaN,56.514291,"[{""adm2_code"":28998,""adm2_name"":""Alachua""},{""a...",2003-07-01,2023-09-25,4905b64fba2b30cbd9797a8104c92eeb,141de4c78e696b24e06af81baf193ea5,2000-02-26,2000-02-26
4,2000-0175-USA,No,nat-met-sto-tor,Natural,Meteorological,Storm,Tornado,NaN,NaN,USA,...,450000.0,796259.0,56.514291,"[{""adm2_code"":31225,""adm2_name"":""Burleson""},{""...",2003-07-01,2023-09-25,fc536fba4231e565318243bdbc120c66,28e519b25fa779a2c599392458dfb094,2000-03-28,2000-03-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
692,2024-0722-USA,No,nat-met-sto-tro,Natural,Meteorological,Storm,Tropical cyclone,NaN,Hurricane 'Milton',USA,...,38000000.0,NaN,NaN,NaN,2024-10-10,2025-01-09,ab8d0da25b8b64a6cc5c9c20c233bec4,e93fa5d59a214bbde2de70b1e82901df,2024-10-09,2024-10-10
693,2024-0788-USA,No,nat-hyd-flo-fla,Natural,Hydrological,Flood,Flash flood,NaN,NaN,USA,...,NaN,NaN,NaN,NaN,2024-10-28,2024-10-28,d3c8fd83d0c60abb72065d86a11f7af9,6e26acc38a6baf7d2b9d070a28480ddf,2024-10-18,2024-10-20
694,2024-0814-USA,No,nat-met-sto-sev,Natural,Meteorological,Storm,Severe weather,NaN,NaN,USA,...,NaN,NaN,NaN,NaN,2024-11-04,2024-11-08,9fa093f7e331e289388ea55628e9a8b3,4b2fb0aaabe0142bbc75a4177a6cb4c5,2024-11-02,2024-11-05
695,2024-0827-USA,No,nat-cli-wil-wil,Natural,Climatological,Wildfire,Wildfire (General),NaN,'Mountain fire',USA,...,100000.0,NaN,NaN,NaN,2024-11-08,2024-11-15,f194f72b869c0393494fcb6866b158eb,a773856c77508c4e2f26f0ccf97b1268,2024-11-06,2024-11-08
696,2024-0897-USA,No,nat-cli-wil-wil,Natural,Climatological,Wildfire,Wildfire (General),NaN,'Franklin',USA,...,NaN,NaN,NaN,NaN,2024-12-11,2025-01-04,8857c61647fd7bf2d2155651db0bbb73,59c01404aca16dce496c70b73f650dd1,2024-12-09,2024-12-11

In [16]:
#Add duration of disasters in days
natural_disasters_df["duration"] = (natural_disasters_df["End_Date"] - natural_disasters_df["Start_Date"]).dt.days
# Option 1: Replace NaN or inf with 0
natural_disasters_df["duration"] = natural_disasters_df["duration"].fillna(0)
# Convert the duration to integer
natural_disasters_df["duration"] = natural_disasters_df["duration"].astype(int)
natural_disasters_df.head()

,DisNo,Historic,Classification_Key,Disaster_Group,Disaster_Subgroup,Disaster_Type,Disaster_Subtype,External_IDs,Event_Name,ISO,...,Total_Damage_Adj_USD,CPI,Admin Units,Entry Date,Last Update,LocationID,ImpactID,Start_Date,End_Date,duration
0,2000-0021-USA,No,nat-met-sto-tor,Natural,Meteorological,Storm,Tornado,NaN,NaN,USA,...,371587.0,56.514291,"[{""adm2_code"":29698,""adm2_name"":""Crittenden""},...",2003-07-01,2023-09-25,fdf4015cbad28df1537d0de94c0af34f,5cdf3bcf14b636dcea834bde8a1d89fa,2000-01-02,2000-01-04,2
1,2000-0067-USA,No,nat-met-sto-tor,Natural,Meteorological,Storm,Tornado,NaN,NaN,USA,...,NaN,56.514291,"[{""adm2_code"":28696,""adm2_name"":""Bullock""},{""a...",2005-04-24,2023-09-25,018f2d7f660af07db0c732dde694aa53,5370ecca580bd7737acae78e8d820169,2000-02-13,2000-02-14,1
2,2000-0080-USA,No,nat-hyd-flo-riv,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,USA,...,NaN,56.514291,"[{""adm1_code"":3231,""adm1_name"":""Kentucky""},{""a...",2005-09-16,2023-09-25,47dbeba351610a968c5871a5f626e8d5,aee9ba2fd62e6a9ad6c976d5503c5011,2000-02-18,2000-02-22,4
3,2000-0128-USA,No,nat-cli-wil-for,Natural,Climatological,Wildfire,Forest fire,NaN,NaN,USA,...,NaN,56.514291,"[{""adm2_code"":28998,""adm2_name"":""Alachua""},{""a...",2003-07-01,2023-09-25,4905b64fba2b30cbd9797a8104c92eeb,141de4c78e696b24e06af81baf193ea5,2000-02-26,2000-02-26,0
4,2000-0175-USA,No,nat-met-sto-tor,Natural,Meteorological,Storm,Tornado,NaN,NaN,USA,...,796259.0,56.514291,"[{""adm2_code"":31225,""adm2_name"":""Burleson""},{""...",2003-07-01,2023-09-25,fc536fba4231e565318243bdbc120c66,28e519b25fa779a2c599392458dfb094,2000-03-28,2000-03-28,0

In [17]:
# remove commas in Event_Name
natural_disasters_df['Event_Name'] = natural_disasters_df['Event_Name'].fillna('').str.replace(',', ' ')
natural_disasters_df['Event_Name'] = natural_disasters_df['Event_Name'].fillna('').str.replace('"', '')
natural_disasters_df['Event_Name'] = natural_disasters_df['Event_Name'].fillna('').str.replace("'", "")
natural_disasters_df['Event_Name'] = natural_disasters_df['Event_Name'].fillna('').str.replace('Hurricane', '')

natural_disasters_df['Event_Name'] = natural_disasters_df['Event_Name'].fillna('').str.replace('Tropical depression16/ ', '')
natural_disasters_df['Event_Name'] = natural_disasters_df['Event_Name'].fillna('').str.replace('Tropical depression ', '')
natural_disasters_df['Event_Name'] = natural_disasters_df['Event_Name'].fillna('').str.replace('Tropical Storm ', '')
natural_disasters_df['Event_Name'] = (
    natural_disasters_df['Event_Name']
    .fillna('')
    .astype(str) 
    .str.replace('Tropical cyclone ', '', regex=False)  
)
natural_disasters_df['Event_Name'] = (
    natural_disasters_df['Event_Name']
    .fillna('')
    .astype(str) 
    .str.replace('Tropical cylone ', '', regex=False)  
)

In [18]:
natural_disasters_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 654 entries, 0 to 696
Data columns (total 48 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   DisNo                                654 non-null    object
 1   Historic                             654 non-null    object
 2   Classification_Key                   654 non-null    object
 3   Disaster_Group                       654 non-null    object
 4   Disaster_Subgroup                    654 non-null    object
 5   Disaster_Type                        654 non-null    object
 6   Disaster_Subtype                     654 non-null    object
 7   External_IDs                         35 non-null     object
 8   Event_Name                           654 non-null    object
 9   ISO                                  654 non-null    object
 10  Country                              654 non-null    object
 11  Subregion                            654 non-null    object
 12  Region                               654 non-null    object
 13  Location                             651 non-null    object
 14  Origin                               163 non-null    object
 15  Associated_Types                     307 non-null    object
 16  OFDA_BHA_Response                    654 non-null    object
 17  Appeal                               654 non-null    object
 18  Declaration                          654 non-null    object
 19  Magnitude                            226 non-null    float64
 20  Magnitude_Scale                      650 non-null    object
 21  Latitude                             75 non-null     float64
 22  Longitude                            75 non-null     float64
 23  River_Basin                          66 non-null     object
 24  Start_Year                           654 non-null    int64
 25  Start Month                          654 non-null    int64
 26  Start Day                            654 non-null    float64
 27  End Year                             654 non-null    int64
 28  End Month                            654 non-null    float64
 29  End Day                              654 non-null    float64
 30  Total_Deaths                         488 non-null    float64
 31  No_Injured                           192 non-null    float64
 32  No_Affected                          292 non-null    float64
 33  No_Homeless                          95 non-null     float64
 34  Total_Affected                       423 non-null    float64
 35  Insured Damage ('000 US$)            261 non-null    float64
 36  Insured Damage, Adjusted ('000 US$)  255 non-null    float64
 37  Total_Damage_USD                     484 non-null    float64
 38  Total_Damage_Adj_USD                 465 non-null    float64
 39  CPI                                  626 non-null    float64
 40  Admin Units                          602 non-null    object
 41  Entry Date                           654 non-null    object
 42  Last Update                          654 non-null    object
 43  LocationID                           654 non-null    object
 44  ImpactID                             654 non-null    object
 45  Start_Date                           654 non-null    datetime64[ns]
 46  End_Date                             654 non-null    datetime64[ns]
 47  duration                             654 non-null    int64
dtypes: datetime64[ns](2), float64(16), int64(4), object(26)
memory usage: 250.4+ KB

In [19]:
natural_disasters_df.nunique()

DisNo                                  654
Historic                                 1
Classification_Key                      26
Disaster_Group                           1
Disaster_Subgroup                        5
Disaster_Type                            9
Disaster_Subtype                        26
External_IDs                            33
Event_Name                             107
ISO                                      3
Country                                  3
Subregion                                1
Region                                   1
Location                               631
Origin                                  77
Associated_Types                        46
OFDA_BHA_Response                        2
Appeal                                   2
Declaration                              2
Magnitude                              162
Magnitude_Scale                          5
Latitude                                75
Longitude                               70
River_Basin                             66
Start_Year                              25
Start Month                             12
Start Day                               31
End Year                                25
End Month                               12
End Day                                 31
Total_Deaths                            74
No_Injured                              71
No_Affected                            149
No_Homeless                             80
Total_Affected                         265
Insured Damage ('000 US$)              109
Insured Damage, Adjusted ('000 US$)    193
Total_Damage_USD                       184
Total_Damage_Adj_USD                   401
CPI                                     24
Admin Units                            547
Entry Date                             420
Last Update                             41
LocationID                             634
ImpactID                               654
Start_Date                             627
End_Date                               617
duration                                49
dtype: int64

In [20]:
#total deaths and injuries by disaster
total_deaths_injuries_by_disaster = (natural_disasters_df.groupby("Disaster_Type")[["Total_Deaths", "No_Injured"]]
    .sum().sort_values(by="Total_Deaths", ascending=False).reset_index())

total_deaths_injuries_by_disaster

         Disaster_Type  Total_Deaths  No_Injured
0                Storm        7191.0     11427.0
1  Extreme temperature         788.0        56.0
2                Flood         719.0       439.0
3             Wildfire         419.0       751.0
4              Drought         247.0         0.0
5             Epidemic         214.0         0.0
6  Mass movement (wet)          79.0        43.0
7           Earthquake           6.0       815.0
8    Volcanic activity           0.0         0.0

In [21]:
#find disaster with highest fatalities by year
highest_fatalities_by_year = (
    #finds the index of the row with the max Total Deaths for each year
    natural_disasters_df.loc[natural_disasters_df.groupby("Start_Year")["Total_Deaths"].idxmax()]
    [["Start_Year", "Disaster_Type", "Total_Deaths", "Event_Name", "Country"]]
    #sort total deaths in descending order
    .sort_values(by="Total_Deaths", ascending=False))

highest_fatalities_by_year

,Start_Year,Disaster_Type,Total_Deaths,Event_Name,Country
160,2005,Storm,1833.0,Katrina,United States of America
298,2011,Storm,354.0,,United States of America
668,2023,Drought,247.0,,United States of America
564,2021,Storm,235.0,,United States of America
691,2024,Storm,227.0,Helene,United States of America
81,2002,Epidemic,214.0,West Nile Fever,United States of America
187,2006,Extreme temperature,164.0,,United States of America
631,2022,Storm,152.0,Ian,United States of America
329,2012,Extreme temperature,123.0,,United States of America
477,2017,Storm,97.0,Irma,United States of America
507,2018,Wildfire,88.0,Camp Fire,United States of America
247,2008,Storm,82.0,Ike,United States of America
207,2007,Storm,65.0,,United States of America
257,2009,Extreme temperature,58.0,,United States of America
26,2000,Storm,57.0,,United States of America
128,2004,Storm,56.0,,United States of America
428,2015,Storm,50.0,,United States of America
432,2016,Storm,50.0,Storm Jonas (Snowzilla),United States of America
100,2003,Storm,45.0,,United States of America
386,2014,Mass movement (wet),43.0,,United States of America
39,2001,Storm,41.0,Allison,United States of America
538,2020,Storm,38.0,,United States of America
282,2010,Storm,30.0,,United States of America
354,2013,Storm,29.0,,United States of America
515,2019,Storm,28.0,,United States of America

In [22]:
#create classification dataframe
classification_df = natural_disasters_df[[
    "Classification_Key", "Disaster_Group", 
    "Disaster_Subgroup", "Disaster_Type", 
    "Disaster_Subtype"
]].drop_duplicates(subset='Classification_Key')
classification_df

,Classification_Key,Disaster_Group,Disaster_Subgroup,Disaster_Type,Disaster_Subtype
0,nat-met-sto-tor,Natural,Meteorological,Storm,Tornado
2,nat-hyd-flo-riv,Natural,Hydrological,Flood,Riverine flood
3,nat-cli-wil-for,Natural,Climatological,Wildfire,Forest fire
5,nat-hyd-flo-fla,Natural,Hydrological,Flood,Flash flood
9,nat-hyd-flo-flo,Natural,Hydrological,Flood,Flood (General)
12,nat-met-sto-sev,Natural,Meteorological,Storm,Severe weather
22,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement
24,nat-met-sto-tro,Natural,Meteorological,Storm,Tropical cyclone
25,nat-met-sto-bli,Natural,Meteorological,Storm,Blizzard/Winter storm
28,nat-met-sto-sto,Natural,Meteorological,Storm,Storm (General)
81,nat-bio-epi-vir,Natural,Biological,Epidemic,Viral disease
87,nat-bio-epi-dis,Natural,Biological,Epidemic,Infectious disease (General)
117,nat-hyd-mmw-mud,Natural,Hydrological,Mass movement (wet),Mudslide
134,nat-met-sto-hai,Natural,Meteorological,Storm,Hail
136,nat-met-sto-lig,Natural,Meteorological,Storm,Lightning/Thunderstorms
150,nat-met-ext-col,Natural,Meteorological,Extreme temperature,Cold wave
168,nat-met-ext-hea,Natural,Meteorological,Extreme temperature,Heat wave
186,nat-cli-wil-wil,Natural,Climatological,Wildfire,Wildfire (General)
195,nat-cli-wil-lan,Natural,Climatological,Wildfire,"Land fire (Brush, Bush, Pasture)"
249,nat-met-ext-sev,Natural,Meteorological,Extreme temperature,Severe winter conditions
251,nat-met-sto-ext,Natural,Meteorological,Storm,Extra-tropical storm
386,nat-hyd-mmw-lan,Natural,Hydrological,Mass movement (wet),Landslide (wet)
487,nat-cli-dro-dro,Natural,Climatological,Drought,Drought
494,nat-geo-vol-lav,Natural,Geophysical,Volcanic activity,Lava flow
513,nat-met-sto-san,Natural,Meteorological,Storm,Sand/Dust storm
555,nat-met-sto-der,Natural,Meteorological,Storm,Derecho

In [23]:
#create damage DataFrame
damage_df = natural_disasters_df[["ImpactID", "DisNo", "Classification_Key", "Location", 
                                  "ISO", "Start_Year", "Total_Damage_USD", "Total_Damage_Adj_USD"]]

damage_df

,ImpactID,DisNo,Classification_Key,Location,ISO,Start_Year,Total_Damage_USD,Total_Damage_Adj_USD
0,5cdf3bcf14b636dcea834bde8a1d89fa,2000-0021-USA,nat-met-sto-tor,"Crittenden, Daviess, Webster districts (Kentuc...",USA,2000,210000.0,371587.0
1,5370ecca580bd7737acae78e8d820169,2000-0067-USA,nat-met-sto-tor,"Bullock, Montgomery districts (Alabama provinc...",USA,2000,NaN,NaN
2,aee9ba2fd62e6a9ad6c976d5503c5011,2000-0080-USA,nat-hyd-flo-riv,"Kentucky, Ohio provinces",USA,2000,NaN,NaN
3,141de4c78e696b24e06af81baf193ea5,2000-0128-USA,nat-cli-wil-for,"Gainesville, Alachua areas (Alachua district, ...",USA,2000,NaN,NaN
4,28e519b25fa779a2c599392458dfb094,2000-0175-USA,nat-met-sto-tor,"Fort Worth Texas city (Tarrant district, Texas...",USA,2000,450000.0,796259.0
...,...,...,...,...,...,...,...,...
692,e93fa5d59a214bbde2de70b1e82901df,2024-0722-USA,nat-met-sto-tro,"Hillsborough, Pinellas, Sarasota Volusia, Sain...",USA,2024,38000000.0,NaN
693,6e26acc38a6baf7d2b9d070a28480ddf,2024-0788-USA,nat-hyd-flo-fla,"Roswell (Chaves county, Eastern New Mexico)",USA,2024,NaN,NaN
694,4b2fb0aaabe0142bbc75a4177a6cb4c5,2024-0814-USA,nat-met-sto-sev,"Oklahoma, Missouri, Arkansas states",USA,2024,NaN,NaN
695,a773856c77508c4e2f26f0ccf97b1268,2024-0827-USA,nat-cli-wil-wil,Ventura county (California),USA,2024,100000.0,NaN
696,59c01404aca16dce496c70b73f650dd1,2024-0897-USA,nat-cli-wil-wil,"Near Malibu city, Santa Monica mountains (Los ...",USA,2024,NaN,NaN

In [24]:
# create Affected dataframe and drop all rows without data in 'Total_Affected' column
affected_df = natural_disasters_df[["ImpactID", "Classification_Key",
                                  "DisNo", "ISO", "Total_Deaths", "No_Injured", "No_Affected",
                                   "No_Homeless", "Total_Affected", "Location"]].dropna(subset=['Total_Deaths', 'Total_Affected'])

affected_df

,ImpactID,Classification_Key,DisNo,ISO,Total_Deaths,No_Injured,No_Affected,No_Homeless,Total_Affected,Location
0,5cdf3bcf14b636dcea834bde8a1d89fa,nat-met-sto-tor,2000-0021-USA,USA,1.0,12.0,NaN,150.0,162.0,"Crittenden, Daviess, Webster districts (Kentuc..."
1,5370ecca580bd7737acae78e8d820169,nat-met-sto-tor,2000-0067-USA,USA,22.0,100.0,900.0,NaN,1000.0,"Bullock, Montgomery districts (Alabama provinc..."
2,aee9ba2fd62e6a9ad6c976d5503c5011,nat-hyd-flo-riv,2000-0080-USA,USA,3.0,NaN,231.0,NaN,231.0,"Kentucky, Ohio provinces"
4,28e519b25fa779a2c599392458dfb094,nat-met-sto-tor,2000-0175-USA,USA,5.0,NaN,3000.0,300.0,3300.0,"Fort Worth Texas city (Tarrant district, Texas..."
5,37a607d222456968f0bf6d2a3bb2b47c,nat-hyd-flo-fla,2000-0232-USA,USA,2.0,NaN,NaN,2000.0,2000.0,"Franklin, Jefferson districts (Missouri province)"
...,...,...,...,...,...,...,...,...,...,...
683,a69294584778cfc2af081b9529afa12b,nat-cli-wil-for,2024-0403-USA,USA,2.0,2.0,1500.0,NaN,1502.0,Otero and Lincoln Counties (New Mexico); Calif...
685,fc759201f69f5fdda292f31c9f82479c,nat-met-sto-tro,2024-0422-USA,USA,45.0,NaN,207.0,NaN,207.0,"Texas, Louisiana"
692,e93fa5d59a214bbde2de70b1e82901df,nat-met-sto-tro,2024-0722-USA,USA,27.0,13.0,1000.0,NaN,1013.0,"Hillsborough, Pinellas, Sarasota Volusia, Sain..."
693,6e26acc38a6baf7d2b9d070a28480ddf,nat-hyd-flo-fla,2024-0788-USA,USA,2.0,38.0,300.0,NaN,338.0,"Roswell (Chaves county, Eastern New Mexico)"
694,4b2fb0aaabe0142bbc75a4177a6cb4c5,nat-met-sto-sev,2024-0814-USA,USA,5.0,11.0,408.0,120.0,539.0,"Oklahoma, Missouri, Arkansas states"

In [25]:
# add zeros for nan values
affected_df['No_Injured']=affected_df['No_Injured'].fillna(0)
affected_df['No_Affected']=affected_df['No_Affected'].fillna(0)
affected_df['No_Homeless']=affected_df['No_Homeless'].fillna(0)
affected_df

,ImpactID,Classification_Key,DisNo,ISO,Total_Deaths,No_Injured,No_Affected,No_Homeless,Total_Affected,Location
0,5cdf3bcf14b636dcea834bde8a1d89fa,nat-met-sto-tor,2000-0021-USA,USA,1.0,12.0,0.0,150.0,162.0,"Crittenden, Daviess, Webster districts (Kentuc..."
1,5370ecca580bd7737acae78e8d820169,nat-met-sto-tor,2000-0067-USA,USA,22.0,100.0,900.0,0.0,1000.0,"Bullock, Montgomery districts (Alabama provinc..."
2,aee9ba2fd62e6a9ad6c976d5503c5011,nat-hyd-flo-riv,2000-0080-USA,USA,3.0,0.0,231.0,0.0,231.0,"Kentucky, Ohio provinces"
4,28e519b25fa779a2c599392458dfb094,nat-met-sto-tor,2000-0175-USA,USA,5.0,0.0,3000.0,300.0,3300.0,"Fort Worth Texas city (Tarrant district, Texas..."
5,37a607d222456968f0bf6d2a3bb2b47c,nat-hyd-flo-fla,2000-0232-USA,USA,2.0,0.0,0.0,2000.0,2000.0,"Franklin, Jefferson districts (Missouri province)"
...,...,...,...,...,...,...,...,...,...,...
683,a69294584778cfc2af081b9529afa12b,nat-cli-wil-for,2024-0403-USA,USA,2.0,2.0,1500.0,0.0,1502.0,Otero and Lincoln Counties (New Mexico); Calif...
685,fc759201f69f5fdda292f31c9f82479c,nat-met-sto-tro,2024-0422-USA,USA,45.0,0.0,207.0,0.0,207.0,"Texas, Louisiana"
692,e93fa5d59a214bbde2de70b1e82901df,nat-met-sto-tro,2024-0722-USA,USA,27.0,13.0,1000.0,0.0,1013.0,"Hillsborough, Pinellas, Sarasota Volusia, Sain..."
693,6e26acc38a6baf7d2b9d070a28480ddf,nat-hyd-flo-fla,2024-0788-USA,USA,2.0,38.0,300.0,0.0,338.0,"Roswell (Chaves county, Eastern New Mexico)"
694,4b2fb0aaabe0142bbc75a4177a6cb4c5,nat-met-sto-sev,2024-0814-USA,USA,5.0,11.0,408.0,120.0,539.0,"Oklahoma, Missouri, Arkansas states"

In [26]:
#create disaster_events DataFrame
events_df = natural_disasters_df[[
    "DisNo", "ImpactID", "Historic", "Classification_Key", 
    "OFDA_BHA_Response", "Appeal", "Declaration", "Origin", 
    "Associated_Types", "Magnitude", "Magnitude_Scale", 
    "Start_Date", "End_Date", "duration", "Location"
]]

events_df

,DisNo,ImpactID,Historic,Classification_Key,OFDA_BHA_Response,Appeal,Declaration,Origin,Associated_Types,Magnitude,Magnitude_Scale,Start_Date,End_Date,duration,Location
0,2000-0021-USA,5cdf3bcf14b636dcea834bde8a1d89fa,No,nat-met-sto-tor,No,No,No,NaN,NaN,NaN,Kph,2000-01-02,2000-01-04,2,"Crittenden, Daviess, Webster districts (Kentuc..."
1,2000-0067-USA,5370ecca580bd7737acae78e8d820169,No,nat-met-sto-tor,No,No,No,NaN,NaN,249.0,Kph,2000-02-13,2000-02-14,1,"Bullock, Montgomery districts (Alabama provinc..."
2,2000-0080-USA,aee9ba2fd62e6a9ad6c976d5503c5011,No,nat-hyd-flo-riv,No,No,No,Heavy rain,"Slide (land, mud, snow, rock)",55000.0,Km2,2000-02-18,2000-02-22,4,"Kentucky, Ohio provinces"
3,2000-0128-USA,141de4c78e696b24e06af81baf193ea5,No,nat-cli-wil-for,No,No,No,NaN,NaN,113.0,Km2,2000-02-26,2000-02-26,0,"Gainesville, Alachua areas (Alachua district, ..."
4,2000-0175-USA,28e519b25fa779a2c599392458dfb094,No,nat-met-sto-tor,No,No,No,NaN,NaN,NaN,Kph,2000-03-28,2000-03-28,0,"Fort Worth Texas city (Tarrant district, Texas..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
692,2024-0722-USA,e93fa5d59a214bbde2de70b1e82901df,No,nat-met-sto-tro,No,No,Yes,NaN,Flood|Surge,205.0,Kph,2024-10-09,2024-10-10,1,"Hillsborough, Pinellas, Sarasota Volusia, Sain..."
693,2024-0788-USA,6e26acc38a6baf7d2b9d070a28480ddf,No,nat-hyd-flo-fla,No,No,Yes,Heavy rains,NaN,NaN,Km2,2024-10-18,2024-10-20,2,"Roswell (Chaves county, Eastern New Mexico)"
694,2024-0814-USA,4b2fb0aaabe0142bbc75a4177a6cb4c5,No,nat-met-sto-sev,No,No,Yes,NaN,Flood|Lightening,NaN,Kph,2024-11-02,2024-11-05,3,"Oklahoma, Missouri, Arkansas states"
695,2024-0827-USA,a773856c77508c4e2f26f0ccf97b1268,No,nat-cli-wil-wil,No,No,Yes,NaN,NaN,NaN,Km2,2024-11-06,2024-11-08,2,Ventura county (California)
696,2024-0897-USA,59c01404aca16dce496c70b73f650dd1,No,nat-cli-wil-wil,No,No,No,NaN,NaN,NaN,Km2,2024-12-09,2024-12-11,2,"Near Malibu city, Santa Monica mountains (Los ..."

In [27]:
tropical_cyclone_df = natural_disasters_df[
    (natural_disasters_df["Classification_Key"] == "nat-met-sto-tro")
][[
    "DisNo", "ImpactID", "Location", "Classification_Key", 
    "Event_Name", "ISO", "Total_Deaths", "Total_Affected", 
    "Start_Date","Total_Damage_USD", "Total_Damage_Adj_USD", "duration"
]]
tropical_cyclone_df

,DisNo,ImpactID,Location,Classification_Key,Event_Name,ISO,Total_Deaths,Total_Affected,Start_Date,Total_Damage_USD,Total_Damage_Adj_USD,duration
24,2000-0652-USA,b9af99a2ac300885c5a06081f9fa953f,"Miami-Dade, Monroe, Broward, Collier districts...",nat-met-sto-tro,Leslie,USA,2.0,17433.0,2000-10-04,219000.0,387513.0,0
39,2001-0242-USA,72ffb616368e11dc8458ca747df77431,"Texas, Mississippi, Louisiana, Florida, Pennsy...",nat-met-sto-tro,Allison,USA,41.0,172000.0,2001-06-05,6000000.0,10324983.0,12
86,2002-0652-USA,0c0801708a595d021c0b75624ec52389,"Louisiane, Mississippi, Alabama, Tennessee pro...",nat-met-sto-tro,Isidore,USA,1.0,13200.0,2002-09-26,300000.0,508189.0,1
90,2002-0724-USA,1843a7e746bb7099166c93d459fe106e,"St. Tammany, Terrebonne, Lafayette, Acadia, Ev...",nat-met-sto-tro,Lili,USA,NaN,NaN,2002-10-03,2000000.0,3387927.0,0
107,2003-0448-BMU,aa5cfe43423d2d02d84db4d4e2bf8929,NaN,nat-met-sto-tro,Fabian,BMU,4.0,NaN,2003-09-05,300000.0,496909.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
685,2024-0422-USA,fc759201f69f5fdda292f31c9f82479c,"Texas, Louisiana",nat-met-sto-tro,Beryl,USA,45.0,207.0,2024-07-08,6000000.0,NaN,1
688,2024-0573-CAN,c8fd0cd342ae327d7f1c4c409997b002,Quebec,nat-met-sto-tro,Debby,CAN,1.0,NaN,2024-08-08,2950000.0,NaN,2
689,2024-0573-USA,297e6ef57e21258c14063684d1ff8b4d,"Tampa, Manatee, and St. Petersburg (Florida); ...",nat-met-sto-tro,Debby,USA,6.0,NaN,2024-08-05,2250000.0,NaN,1
691,2024-0693-USA,80234918f59f6380f3f88aa0eaa736e5,"Florida, Georgia, North Carolina, South Caroli...",nat-met-sto-tro,Helene,USA,227.0,NaN,2024-09-25,56000000.0,NaN,3
692,2024-0722-USA,e93fa5d59a214bbde2de70b1e82901df,"Hillsborough, Pinellas, Sarasota Volusia, Sain...",nat-met-sto-tro,Milton,USA,27.0,1013.0,2024-10-09,38000000.0,NaN,1

In [28]:
damage_df.dtypes

ImpactID                 object
DisNo                    object
Classification_Key       object
Location                 object
ISO                      object
Start_Year                int64
Total_Damage_USD        float64
Total_Damage_Adj_USD    float64
dtype: object

In [29]:
events_df.dtypes

DisNo                         object
ImpactID                      object
Historic                      object
Classification_Key            object
OFDA_BHA_Response             object
Appeal                        object
Declaration                   object
Origin                        object
Associated_Types              object
Magnitude                    float64
Magnitude_Scale               object
Start_Date            datetime64[ns]
End_Date              datetime64[ns]
duration                       int64
Location                      object
dtype: object

In [30]:
affected_df.dtypes

ImpactID               object
Classification_Key     object
DisNo                  object
ISO                    object
Total_Deaths          float64
No_Injured            float64
No_Affected           float64
No_Homeless           float64
Total_Affected        float64
Location               object
dtype: object

In [31]:
tropical_cyclone_df.dtypes

DisNo                           object
ImpactID                        object
Location                        object
Classification_Key              object
Event_Name                      object
ISO                             object
Total_Deaths                   float64
Total_Affected                 float64
Start_Date              datetime64[ns]
Total_Damage_USD               float64
Total_Damage_Adj_USD           float64
duration                         int64
dtype: object

In [35]:
#export DataFrames as csv files
events_df.to_csv("../CSV/events.csv", index=False)

damage_df.to_csv("../CSV/damage.csv", index=False)

affected_df.to_csv("../CSV/affected.csv", index=False)

classification_df.to_csv("../CSV/classification.csv", index=False)

tropical_cyclone_df.to_csv("../CSV/tropicalcyclone.csv", index=False)